<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>
		<File name="file" fileName="dao-log.txt">
			<PatternLayout pattern="%d %-5p (%F - %M:%L) - %m%n" />
		</File>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p (%F - %M:%L) - %m%n" />
		</Console>
	</Appenders>
	
	<Loggers>
		<Logger name="org.apache.log4j.xml" level="all">
		</Logger>
		
		<Root level="all">
			<AppenderRef ref="file" />
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
	
</Configuration>